body{
  text-align:center;
  background:linear-gradient( #E1BEE7 0,#90CAF9);
  background-repeat:no-repeat;
}
h1{
  text-shodow:2px 2px #F8BBDO;
  font-size:20px;
    font-family: 'News Cycle', sans-serif;
}
img{
  border-radius:50%;
    width: 190px;
  height: 200px;
}
#bio{
    padding:20px;
font-size:18;
text-align:center;
}
manu{
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}
#myfamily{
    font-family: 'courigatte',cursive;
}
img{
transition:transform  .2s;
border: 10px solid #aaaaaa;
}
img:hover {
    transform: scale(o.9);
}